.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
}
.p-btn {
    padding: 0.5rem 1rem;   
    margin: 0.5rem;
    height: 6vh;
    width: 15vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
@media screen and (max-width: 680px) {
    .btns{
        height: 8vh;
        margin-left: -1rem;
    }
    .p-btn {
        padding: 0.1rem;   
        margin: 0.1rem;
        height: 5vh;
        width: 20vw;
    }
}